<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or "Course Catalog Demo" }}</title>
</head>
<body>
<nav>
  <a href="{{ '/topics/' | url }}">Course card view</a> | 
  <a href="{{ '/topic-cards/' | url }}">Topic summary view</a>
</nav>
  <hr>
  {{ content | safe }}
    <hr>
    <footer>
    <small>
      This is a demo site. See the code on <a href="https://github.com/David-Rayner-GVC/UtbildaDigMockUp/">GitHub</a>
    </small>
  </footer>
</body>
</html>
