<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title or "Course Catalog Demo" }}</title>
</head>
<body>
<nav>
  <a href="/topics/">Utbilda dig!</a>
</nav>
  <hr>
  {{ content | safe }}
</body>
</html>
